.banner {
  padding: 200px 0 240px;
  background-color: $light_grey;
  background-image: url(../images/cheetah.svg);
  background-repeat: no-repeat;
  background-position: calc(50vw - 30px) bottom;
  @include mq("desktop", max) {
    background-position: 55vw bottom;
  }
  @include mq("tablet", max) {
    padding: 120px 0 360px;
    background-position: 10vw bottom;
  }
  @include mq("phone", max) {
    padding: 80px 0 200px;
    background-position: 2vw bottom;
    background-size: 700px;
  }
  .content-holder {
    width: 730px;
    max-width: 70%;
    @include mq("tablet", max) {
      max-width: 100%;
    }
    .logo-items {
      display: flex;
      margin: 0 0 40px;
    }
    .logo-item {
      margin-right: 48px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  h1 {
    margin: 0 0 18px;
  }
}
.badges {
  padding: 87px 0 47px;
  h2 {
    margin: 0 0 30px;
    text-align: center;
  }
  .description {
    margin: 0 auto 50px;
    max-width: 880px;
    text-align: center;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    cursor: pointer;
    margin: 0 0 50px;
    padding: 0 20px;
    width: calc(100% / 3);
    transition: all 0.3s ease-out;
    @include mq("tablet", max) {
      width: 50%;
      margin: 0 0 30px;
      padding: 0 10px;
    }
    .icon-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 20px;
      height: 80px;
      font-size: 0;
      text-align: center;
    }
    p {
      margin: 0 auto;
      max-width: 280px;
      color: $heading_color;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.3s ease-out;
      @include mq("tablet", max) {
        font-size: 16px;
      }
    }
    &:hover {
      transform: translateY(-10px);
      p {
        color: $primary;
      }
    }
  }
  &.condensed {
    padding: 84px 0 75px;
    .description {
      margin-bottom: 90px;
      max-width: 960px;
    }
    .badges-items {
      flex-wrap: nowrap;
      @include mq("desktop", max) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .badges-item {
      margin: 0 81px 50px 0;
      width: auto;
      @include mq("desktop", max) {
        margin: 0 20px 30px;
        width: auto;
      }
      @include mq("tablet", max) {
        width: calc(50% - 40px);
      }
      @include mq("phone-wide", max) {
        margin: 0 10px 30px;
        width: calc(50% - 20px);
      }
      @include mq("phone-small", max) {
        margin: 0 0 24px;
        width: 100%;
      }
      &:last-child {
        margin-right: 0;
        @include mq("desktop", max) {
          margin: 0 20px 0;
        }
        @include mq("phone-wide", max) {
          width: 100%;
          margin: 0 10px 0;
        }
      }
      .icon-holder {
        height: auto;
        @include mq("phone-small", max) {
          margin: 0 0 10px;
        }
      }
      p {
        max-width: 350px;
      }
    }
  }
}
.img-text {
  padding: 135px 0;
  background-color: $light_grey;
  @include mq("tablet-small", max) {
    padding: 80px 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .text-holder {
    width: 50%;
    max-width: 580px;
    @include mq("tablet-small", max) {
      width: 100%;
      margin: 0 0 40px;
    }
    h2 {
      margin: 0 0 30px;
      @include mq("tablet-small", max) {
        margin: 0 0 20px;
      }
    }
  }
  .img-holder {
    width: calc(50% - 100px);
    font-size: 0;
    @include mq("tablet-small", max) {
      width: 100%;
      text-align: center;
      img {
        max-width: 240px;
        width: 100%;
      }
    }
  }
  &.dark {
    color: $white;
    background-color: $dark_blue;
    .text-holder {
      max-width: 640px;
      h2 {
        color: $white;
      }
    }

  }
}
.contact-us {
  padding: 85px 0 100px;
  .container {
    max-width: 870px;
  }
  h2 {
    margin: 0 0 36px;
    text-align: center;
  }
  p {
    margin: 0 0 55px;
    text-align: center;
  }
  form {
    .form {
      &-row {
        justify-content: space-between;
      }
      &-control {
        margin: 0 0 50px;
        width: calc(50% - 10px);
        @include mq("tablet", max) {
          width: 100%;
          margin: 0 0 24px;
        }
      }
    }
    input[type=text] {
      margin: 0;
      padding: 0 0 14px;
      width: 100%;
      border: none;
      border-bottom: 1px solid $text_color;
      color: $heading_color;
      font-family: 'Lato';
      font-size: 16px;
      @include mq("tablet", max) {
        font-size: 14px;
        padding: 0 0 10px;
      }
      &::placeholder {
        color: $heading_color;
      }
    }
    textarea {
      margin: 0;
      padding: 14px 12px;
      width: 100%;
      height: 140px;
      resize: none;
      border: 1px solid $text_color;
      color: $heading_color;
      font-family: 'Lato';
      font-size: 16px;
      transition: all 0.3s ease-out;
      &::placeholder {
        color: $heading_color;
      }
      &:focus {
        height: 200px;
      }
    }
  }
}